{% extends "base.html" %}

{% block content %}
	<H1>Grammn's Blog</H1>
		<h3><a href="/blog/{{ post.pk }}/">{{ post.subject }}</a></h3>
		<div>
			{{ post.created }}
		</div>
		<div>
			{{ post.body|safe|linebreaks }}
		</div>
		
		<div>
			{% for tag in post.tags.all %}
				<a href="/blog/tag/{{tag}}">{{ tag }}</a>
				{% if not forloop.last %}
				,
				{% endif %}
			{% endfor %}
		</div>
		<div class="pager">
			{% if prev_post %}
				<li class="previous"><a href="/blog/{{ prev_post.pk }}">&larr;{{ prev_post|truncatechars:30 }}</a></li>
			{% endif %}

			{% if next_post %}
				<li class="next"><a href="/blog/{{ next_post.pk }}">&rarr;{{ next_post|truncatechars:30 }}</a></li>
			{% endif %}
		</div>
{% endblock %}
